extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Chai Wala
  .row 
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p 125 High Street, Reading, RG6 1PS
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening Hours
            .panel-body
              p Monday - Friday : 7:00 AM - 7:00 PM
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Hot drinks
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Food
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                  | &nbsp;Premium wifi
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primay.review-panel
           .panel-heading
             a.btn.btn-default.pull-right(href='/location/review/new') Add review 
             h2.panel-title Customer Reviews
           .panel-body.review-container
            .row
              .review
                .well.well-sm.review-header
                  span.rating
                    span.glyphicon.glyphicon-star   
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                  span.reviewAuthor Bob Marley
                  small.reviewTimestamp 30 Nov 2016
                .col-xs-12
                  p Ay, Awesome place maan
            .row
              .review
                .well.well-sm.review-header
                  span.rating
                    span.glyphicon.glyphicon-star   
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                  span.reviewAuthor Agnus Young
                  small.reviewTimestamp 30 Nov 2016
                .col-xs-12
                  p This place left me Thunderstruck
.col-xs-12.col-md-3
  p.lead This location has been added because it exists.
