extends layout

block content
  #banner.page-header
     .row
       .col-lg-6
         h1 Dhundo
           small &nbsp;Find places to chill near you!
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') T2F (The Second Floor)
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 500m
            p.address 10-C, Sunset Lane 5 D.H.A, Phase 2 Extension Karachi, Pakistan.
            p
              span.label.label-warning Board games
              &nbsp;
              span.label.label-warning Books
              &nbsp;
              span.label.label-warning Food
              &nbsp;
              span.label.label-warning Wifi
              &nbsp;
          .col-xs-12.list-group-item
            h4
              a(href='/location') Baby Rasta
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
              span.badge.pull-right.badge-default 200000m
            p.address Koh Tao, Surat Thani, Thailand.
            p
              span.label.label-warning Snacks
              &nbsp;
              span.label.label-warning Music
              &nbsp;
              span.label.label-warning Beer
              &nbsp;
          .col-xs-12.list-group-item
            h4
              a(href='/location') Chai Wala
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address Shop 2 & 3, Plot # Chota Bukhari Commercial Phase 6,، 89/1 5th Commercial St, Karachi 75500
            p
              span.label.label-warning Chai
              &nbsp;
              span.label.label-warning Kahwa
              &nbsp;
              span.label.label-warning Paratha
              &nbsp;
              span.label.label-warning Wifi....Not
              &nbsp;
      .col-xs-12.col-sm-4
        p.lead Use Dhundo and go places.
